examples/balance-transfer/environment/network-data/flows.json
[{"id":"967af7f6.5f2a28","type":"tab","label":"Flow 1"},{"id":"f4a2c4d5.443e78","type":"websocket-listener","z":"","path":"/ws/updateorderstatus","wholemsg":"false"},{"id":"3e51847e.88b6dc","type":"websocket-listener","z":"","path":"/ws/placeorder","wholemsg":"false"},{"id":"fbbdd4fb.6cd108","type":"websocket in","z":"967af7f6.5f2a28","name":"","server":"3e51847e.88b6dc","client":"","x":108.5,"y":59,"wires":[["9425d9f3.a16b18"]]},{"id":"52fc7705.cc42c8","type":"websocket out","z":"967af7f6.5f2a28","name":"","server":"3e51847e.88b6dc","client":"","x":1011.5,"y":89,"wires":[]},{"id":"1d602ed8.d08c61","type":"websocket in","z":"967af7f6.5f2a28","name":"","server":"f4a2c4d5.443e78","client":"","x":134,"y":352,"wires":[["f305e73c.65a478","25b2a3fb.15662c"]]},{"id":"bce7ecd5.cb1e5","type":"websocket out","z":"967af7f6.5f2a28","name":"","server":"f4a2c4d5.443e78","client":"","x":1022,"y":470,"wires":[]},{"id":"8b887b9b.e007f8","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"payload","x":985.5,"y":180,"wires":[]},{"id":"f305e73c.65a478","type":"debug","z":"967af7f6.5f2a28","name":"","active":false,"console":"false","complete":"false","x":331.5,"y":423,"wires":[]},{"id":"6e9adde4.1f6a54","type":"function","z":"967af7f6.5f2a28","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.payload.orderID = msg.payload.orderId;\nmsg.payload.timestamp = Date.now();\nmsg.url = context.global.endpoint + '/PlaceOrder'\nreturn msg;","outputs":1,"noerr":0,"x":651.5,"y":89,"wires":[["75cdf87b.dcfda8"]]},{"id":"75cdf87b.dcfda8","type":"http request","z":"967af7f6.5f2a28","name":"place order","method":"POST","ret":"obj","url":"","tls":"","x":790.5,"y":89,"wires":[["81a78203.74cf9","1daadc07.cd4b54","52fc7705.cc42c8"]]},{"id":"e19c9d65.2fe8b","type":"inject","z":"967af7f6.5f2a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":97.5,"y":639,"wires":[["112b07a0.84b708"]]},{"id":"112b07a0.84b708","type":"change","z":"967af7f6.5f2a28","name":"","rules":[{"t":"set","p":"endpoint","pt":"global","to":"http://rest:3000/api","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":274.5,"y":639,"wires":[[]]},{"id":"81a78203.74cf9","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"false","x":994.5,"y":137,"wires":[]},{"id":"20b27791.405478","type":"inject","z":"967af7f6.5f2a28","name":"inject order received","topic":"","payload":"{\"orderStatus\": \"PLACED\", \"vin\": \"\", \"v5c\": \"\", \"numberPlate\": \"\", \"order\": \"\", \"timestamp\": \"2017-04-27T13:15:12.942Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":583.5,"y":451,"wires":[["bce7ecd5.cb1e5"]]},{"id":"f208bd3e.cae0f","type":"inject","z":"967af7f6.5f2a28","name":"inject manufacture","topic":"","payload":"{\"orderStatus\": \"SCHEDULED_FOR_MANUFACTURE\", \"vin\": \"\", \"v5c\": \"\", \"numberPlate\": \"\", \"order\": \"\", \"timestamp\": \"2017-04-27T13:15:12.942Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":585,"y":488,"wires":[["bce7ecd5.cb1e5"]]},{"id":"4cd39f92.aca7c","type":"inject","z":"967af7f6.5f2a28","name":"inject vin","topic":"","payload":"{\"orderStatus\": \"VIN_ASSIGNED\", \"vin\": \"\", \"v5c\": \"\", \"numberPlate\": \"\", \"order\": \"\", \"timestamp\": \"2017-04-27T13:15:12.942Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":616,"y":525,"wires":[["bce7ecd5.cb1e5"]]},{"id":"54e9cf6b.303e9","type":"inject","z":"967af7f6.5f2a28","name":"inject v5c","topic":"","payload":"{\"orderStatus\": \"OWNER_ASSIGNED\", \"vin\": \"\", \"v5c\": \"\", \"numberPlate\": \"\", \"order\": \"\", \"timestamp\": \"2017-04-27T13:15:12.942Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":616,"y":563,"wires":[["bce7ecd5.cb1e5"]]},{"id":"4fadc038.01fc3","type":"inject","z":"967af7f6.5f2a28","name":"inject delivery","topic":"","payload":"{\"orderStatus\": \"DELIVERED\", \"vin\": \"\", \"v5c\": \"\", \"numberPlate\": \"\", \"order\": \"\", \"timestamp\": \"2017-04-27T13:15:12.942Z\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":607,"y":601,"wires":[["bce7ecd5.cb1e5"]]},{"id":"62e0cd6a.359a54","type":"http request","z":"967af7f6.5f2a28","name":"update status","method":"POST","ret":"obj","url":"","tls":"","x":670,"y":359,"wires":[["85566869.ea03a8","32834928.cf6c46"]]},{"id":"85566869.ea03a8","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"false","x":849,"y":359,"wires":[]},{"id":"b6498209.0e6c3","type":"function","z":"967af7f6.5f2a28","name":"parse","func":"msg.payload = JSON.parse(msg.payload);\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":359,"wires":[["62e0cd6a.359a54"]]},{"id":"9425d9f3.a16b18","type":"change","z":"967af7f6.5f2a28","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":334.5,"y":59,"wires":[["aecc94bd.04c578","a064021d.1be28"]]},{"id":"32834928.cf6c46","type":"change","z":"967af7f6.5f2a28","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":574,"y":403,"wires":[["bce7ecd5.cb1e5"]]},{"id":"3f34510c.ccb2ce","type":"inject","z":"967af7f6.5f2a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107.5,"y":681,"wires":[["fa8b70b7.f3241"]]},{"id":"9c5070af.4e6e1","type":"http request","z":"967af7f6.5f2a28","name":"setup demo","method":"POST","ret":"obj","url":"","tls":"","x":415.5,"y":681,"wires":[["314509d9.db6e76"]]},{"id":"314509d9.db6e76","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"false","x":599.5,"y":681,"wires":[]},{"id":"fa8b70b7.f3241","type":"function","z":"967af7f6.5f2a28","name":"set msg.url","func":"msg.url = context.global.endpoint + '/SetupDemo';\nreturn msg;","outputs":1,"noerr":0,"x":254.5,"y":681,"wires":[["9c5070af.4e6e1"]]},{"id":"805c78b6.f0a8e8","type":"inject","z":"967af7f6.5f2a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":720,"wires":[["2d54821c.b4c8ce"]]},{"id":"25de053e.f709ea","type":"http request","z":"967af7f6.5f2a28","name":"get orders","method":"GET","ret":"obj","url":"","tls":"","x":415,"y":720,"wires":[["5fa2f37c.507efc"]]},{"id":"5fa2f37c.507efc","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"false","x":599,"y":720,"wires":[]},{"id":"2d54821c.b4c8ce","type":"function","z":"967af7f6.5f2a28","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Order';\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":720,"wires":[["25de053e.f709ea"]]},{"id":"15eec5aa.b2164a","type":"inject","z":"967af7f6.5f2a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":107,"y":760,"wires":[["7d054a67.bf44f4"]]},{"id":"68952b9c.d0eb04","type":"http request","z":"967af7f6.5f2a28","name":"get vehicles","method":"GET","ret":"obj","url":"","tls":"","x":415,"y":760,"wires":[["9e9c2898.37ba98"]]},{"id":"9e9c2898.37ba98","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"false","x":599,"y":760,"wires":[]},{"id":"7d054a67.bf44f4","type":"function","z":"967af7f6.5f2a28","name":"set msg.url","func":"msg.url = context.global.endpoint + '/Vehicle';\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":760,"wires":[["68952b9c.d0eb04"]]},{"id":"ae737910.4b17b8","type":"http request","z":"967af7f6.5f2a28","name":"update status","method":"POST","ret":"obj","url":"","tls":"","x":805,"y":180,"wires":[["8b887b9b.e007f8","bce7ecd5.cb1e5"]]},{"id":"1daadc07.cd4b54","type":"function","z":"967af7f6.5f2a28","name":"parse","func":"var order = msg.payload;\n\ndelete msg._session;\ndelete msg.headers;\ndelete msg.responseUrl;\ndelete msg.statusCode;\n\nmsg.payload = {\n    \"vin\": \"\",\n    \"v5c\": \"\",\n    \"numberPlate\": \"\",\n    \"order\": order.orderId,\n    \"orderStatus\": \"PLACED\",\n    \"timestamp\": Date.now()\n};\n\nmsg.url = context.global.endpoint + '/UpdateOrderStatus'\nreturn msg;","outputs":1,"noerr":0,"x":654,"y":180,"wires":[["ae737910.4b17b8"]]},{"id":"1d1bdc5f.5eeee4","type":"inject","z":"967af7f6.5f2a28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":106,"y":801,"wires":[["96f0422a.2571e"]]},{"id":"c3bb11a3.9f1e3","type":"http request","z":"967af7f6.5f2a28","name":"get transactions","method":"GET","ret":"obj","url":"","tls":"","x":424,"y":801,"wires":[["1d12a521.66750b"]]},{"id":"1d12a521.66750b","type":"debug","z":"967af7f6.5f2a28","name":"","active":true,"console":"false","complete":"false","x":598,"y":801,"wires":[]},{"id":"96f0422a.2571e","type":"function","z":"967af7f6.5f2a28","name":"set msg.url","func":"msg.url = context.global.endpoint + '/UpdateOrderStatus';\nreturn msg;","outputs":1,"noerr":0,"x":253,"y":801,"wires":[["c3bb11a3.9f1e3"]]},{"id":"aecc94bd.04c578","type":"switch","z":"967af7f6.5f2a28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":519.5,"y":59,"wires":[["da373218.79263"],["6e9adde4.1f6a54"]]},{"id":"9b5dd054.c93d4","type":"websocket out","z":"967af7f6.5f2a28","name":"","server":"3e51847e.88b6dc","client":"","x":825,"y":41,"wires":[]},{"id":"da373218.79263","type":"function","z":"967af7f6.5f2a28","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":651.5,"y":41,"wires":[["9b5dd054.c93d4"]]},{"id":"a064021d.1be28","type":"debug","z":"967af7f6.5f2a28","name":"","active":false,"console":"false","complete":"false","x":306.5,"y":97,"wires":[]},{"id":"25b2a3fb.15662c","type":"switch","z":"967af7f6.5f2a28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"__ping__","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":353,"y":352,"wires":[["9cff2324.207a1"],["b6498209.0e6c3"]]},{"id":"fdaff38d.771bf","type":"change","z":"967af7f6.5f2a28","name":"","rules":[{"t":"delete","p":"_session","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":685,"y":312,"wires":[["9e03ed5.12b0a1"]]},{"id":"9e03ed5.12b0a1","type":"websocket out","z":"967af7f6.5f2a28","name":"","server":"f4a2c4d5.443e78","client":"","x":927,"y":312,"wires":[]},{"id":"9cff2324.207a1","type":"function","z":"967af7f6.5f2a28","name":"pong","func":"msg.payload = '__pong__';\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":311,"wires":[["fdaff38d.771bf"]]}]